{% extends 'base.html' %}
{% block title %}Home{% endblock title %}

{% block body %}
{% block content%}
        <div class="row">
            <div class="col-2">
                <h1>Turn Fashion into Eco-Friendly</h1>
                <p>Success isn't always about greatness, It's about consistency.<br>
                    Consistence hardwork gains success. Greatness will come</p>
                    <a href="" class="btn">Explore Now &#8594;</a>
            </div>
            <div class="col-2">
                <img src="static/images/5.jpg">

            </div>
        </div>
    </div>    
</div>    
</div>

<!------- Featured Categories -------->
<div class="categories">
    <div class="small-container">
        <div class="row">
            
            <div class="col-3">
                <img src="static/images/4.jpg">
            </div>
            <div class="col-3">
                <img src="static/images/2.jpg">
            </div>
            <div class="col-3">
                <img src="static/images/1.jpg">
            </div>
         </div>

    </div>
    
</div>
<!------- Featured Products -------->
<div class="small-container">
    <h2 class="title">Featured Products</h2>
    <div class="row">
        <div class="col-4">
            <a href="productdetails"><img src="static/images/15-1.jpg"></a>
            <a href="productdetails"><h4>Wedding Mermaid Gown</h4></a>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
            </div>
            <p>₹. 50,000</p>
        </div>
        <div class="col-4">
            <a href="productdetails2"><img src="static/images/11-1.jpg"></a>
            <a href="productdetails2"><h4>Custard Dress</h4></a>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-o"></i>
                <i class="fa fa-star-o"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p>₹. 1,200</p>
        </div>
        <div class="col-4">
            <a href="productdetails3"><img src="static/images/17-1.webp"></a>
            <a href="productdetails3"><h4>Floral Top</h4></a>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p>₹. 550</p>
        </div>
        <div class="col-4">
            <a href="productdetails4"><img src="static/images/16-2.jpg"></a>
            <a href="productdetails4"><h4>Pink Lace Top</h4></a>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-o"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p>₹. 780</p>
        </div>
    </div>


    <h2 class="title">Latest Products</h2>
    <div class="row">
        <div class="col-4">
            <img src="static/images/30.jpeg">
            <h4>Gray Lace Top</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p>₹. 800</p>
        </div>
        <div class="col-4">
            <img src="static/images/33.jpg">
            <h4>Yellow Top</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-o"></i>
                <i class="fa fa-star-o"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p>₹. 300</p>
        </div>
        <div class="col-4">
            <img src="static/images/31.jpeg">
            <h4>Green Top</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p>₹. 200</p>
        </div>
        <div class="col-4">
            <img src="static/images/35.jpg">
            <h4>Off-Shoulder Top</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-o"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p>₹. 500</p>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <img src="static/images/36.jpg">
            <h4>Satin Shirt</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p>₹. 700</p>
        </div>
        <div class="col-4">
            <img src="static/images/34.jpg">
            <h4>Puff Sleeve Top</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-o"></i>
                <i class="fa fa-star-o"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p>₹. 400</p>
        </div>
        <div class="col-4">
            <img src="static/images/38.jpg">
            <h4>Light-blue Kurti</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p>₹. 800</p>
        </div>
        <div class="col-4">
            <img src="static/images/39.jpg">
            <h4>floral Kurti</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-o"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p>₹. 1,700</p>
        </div>
    </div>
</div>

<!----------------offer-->
<div class="offer">
    <div class="small-container">
        <div class="row">
            <div class="col-2">
                <img src="static/images/15-1.jpg" class="offer-img">
            </div>
            <div class="col-2">
                <p>Exclusively available on Beauty Fashion</p>
                <h1>Wedding Mermaid Dress!!!</h1>
                <small>White Wedding Dress with lace and mermaid cut <br></small>
                <a href="productdetails.html" class="btn">Buy Now &#8594;</a>
            </div>
        </div>
    </div>
</div>
<!-----------------testimonial-->
<div class="testimonial">
    <div class="small-container">
        <div class="row">
            <div class="col-3">
                <i class="fa fa-quote-left"></i>
                <p>“I always say shopping is cheaper than a psychiatrist.”</p>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-o"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <img src="static/images/4.jpg">
                <h3>Tammy Faye Bakker</h3>
            </div>
            <div class="col-3">
                <i class="fa fa-quote-left"></i>
                <p>You live only once, live it fully</p>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-o"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <img src="static/images/1.jpg">
                <h3>Anastatia D'zousa</h3>
            </div>
            <div class="col-3">
                <i class="fa fa-quote-left"></i>
                <p>Enjoy where you are now!!!</p>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-o"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <img src="static/images/2.jpg">
                <h3>Webster</h3>
            </div>
        </div>
    </div>
</div>
<!--brand-->
<div class="brand">
    <div class="small-container">
        <div class="row">
            <div class="col-5">
                <img src="static/images/amazon.png">
            </div>
            <div class="col-5">
                <img src="static/images/hm.png">
            </div>
            <div class="col-5">
                <img src="static/images/paytm.png">
            </div>
            <div class="col-5">
                <img src="static/images/versace.png">
            </div>
            <div class="col-5">
                <img src="static/images/mango.png">
            </div>
            <div class="col-5">
                <img src="static/images/burberry.png">
            </div>
            <div class="col-5">
                <img src="static/images/tommyhilfiger.png">
            </div>
        </div>
    </div>
</div>

{%endblock content%}
{% endblock body %}



















