{% extends 'base.html' %}
{% block title %}Products{% endblock title %}

{% block body %}
{% block content%}


<div class="small-container">
    <div class="row row-2">
        <h2>All Products</h2>
        <select>
            <option>Default Sorting</option>
            <option>Sort by price</option>
            <option>Sort by popularity</option>
            <option>Sort by rating</option>
            <option>Sort by sales</option>
        </select>
    </div>
    <div class="row">
        <div class="col-4">
            <a href="productdetails5"><img src="static/images/12-3.jpg"></a>
            <a href="productdetails5"><h4>Yellow Skirt</h4></a>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p>₹. 800</p>
        </div>
        <div class="col-4">
            <a href="productdetails6"><img src="static/images/14-1.jpg"></a>
            <a href="productdetails6"><h4>Casual Dress</h4></a>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p>₹. 1,500</p>
        </div>
        <div class="col-4">
            <a href="productdetails7"><img src="static/images/18-2.jpg"></a>
            <a href="productdetails7"><h4>Black Dress</h4></a>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p>₹. 900</p>
        </div>
        <div class="col-4">
            <a href="productdetails8"><img src="static/images/13-2.jpg"></a>
            <a href="productdetails8"><h4>Stripe Dress</h4></a>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p>₹. 1,300</p>
        </div>
    </div>
       
    <div class="row">
        <div class="col-4">
            <img src="static/images/37.jpg" width="120%">
            <h4>Beige Dress</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p>₹. 2,200</p>
        </div>
        <div class="col-4">
            <img src="static/images/34.jpg">
            <h4>Puff Sleeve Top</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-o"></i>
                <i class="fa fa-star-o"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p>₹. 400</p>
        </div>
        <div class="col-4">
            <img src="static/images/38.jpg">
            <h4>Light-blue Kurti</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p>₹. 800</p>
        </div>
        <div class="col-4">
            <img src="static/images/39.jpg">
            <h4>floral Kurti</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-o"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p>₹. 1,700</p>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <img src="static/images/30.jpeg">
            <h4>Gray Lace Top</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p>₹. 800</p>
        </div>
        <div class="col-4">
            <img src="static/images/33.jpg">
            <h4>Yellow Top</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-o"></i>
                <i class="fa fa-star-o"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p>₹. 400</p>
        </div>
        <div class="col-4">
            <img src="static/images/31.jpeg">
            <h4>Green Top</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p>₹. 200</p>
        </div>
        <div class="col-4">
            <img src="static/images/35.jpg">
            <h4>Off-Shoulder Top</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-o"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p>₹. 500</p>
        </div>
    </div>
    <div class="page-btn">
        <span>1</span>
        <span>2</span>
        <span>3</span>
        <span>4</span>
        <span>&#8594;</span>
    </div>
</div>

{%endblock content%}
{% endblock body %}






















