{% extends 'base.html' %}
{% block title %}Product_details{% endblock title %}

{% block body %}
{% block content%}

    <!------------------>
    <div class="small-container single-product">
        <div class="row">
            <div class="col-2">
                <img src="static/images/14-1.jpg" width="60%" id="ProductImg">
                <div class="small-img-row">
                <div class="small-img-col">
                    <img src="static/images/14-1.jpg" width="60%" class="small-img">
                </div>      
                <div class="small-img-col">
                    <img src="static/images/14-2.jpg" width="60%" class="small-img">
                </div>
                <div class="small-img-col">
                    <img src="static/images/14-3.jpg" width="60%" class="small-img">
                </div>
                <div class="small-img-col">
                    <img src="static/images/14-4.jpg" width="80%" class="small-img">
                </div>
                </div>
            </div>
                <div class="col-2">
                    <p>Casual Dress</p>
                <h1>Casual Bow Dress</h1>
                <h4>₹. 1,500</h4>
                <select>
                    <option>Select Size</option>
                    <option>XL</option>
                    <option>L</option>
                    <option>M</option>
                    <option>S</option>
                    <option>XS</option>
                </select>
                <input type="number" value="1">
                <a href="" class="btn">Add to cart</a>
                <h3>Product details <i class="fa fa-indent"></i></h3>
                <br>
                <p>Casual bow belt dress of pink and green combined.
                </p>
                </div>  
        </div>
    </div>
</div>    
<!---------------Title-------------->
<div class="small-container">
    <div class="row row-2">
        <h2>More Products</h2>
        <p>View More</p>
    </div>
</div>


<!------- Featured Products -------->
<div class="small-container">
    <div class="row">
        <div class="col-4">
            <img src="static/images/30.jpeg">
            <h4>Gray Lace Top</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p>₹. 800</p>
        </div>
        <div class="col-4">
            <img src="static/images/33.jpg">
            <h4>Yellow Top</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-o"></i>
                <i class="fa fa-star-o"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p>₹. 300</p>
        </div>
        <div class="col-4">
            <img src="static/images/31.jpeg">
            <h4>Green Top</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p>₹. 200</p>
        </div>
        <div class="col-4">
            <img src="static/images/35.jpg">
            <h4>Off-Shoulder Top</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-o"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p>₹. 500</p>
        </div>
    </div>
</div>
    
{%endblock content%}
{% endblock body %}







